@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}
.SearchFonct{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(240, 240, 240);
}
.MembreSearch{
    display: flex;
    align-items: center;
}
.MembreSearch p{
    color: rgb(73, 9, 133);
    margin-right: 45px;
    font-size: 30px;
    font-weight: bold;
}
.MembreSearch input{
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid rgb(45, 10, 78);
    border-radius: 6px;
    color: rgb(45, 10, 78);
}
.pagination{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    }
.pagination div{
    padding: 20px;
    border: 2px solid #d5d0d0;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0298cd;
    color: #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    margin: 0px 20px;
    cursor: pointer;
}
.table {
    width: 100%;
    table-layout: fixed;
    min-width: 900px;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    text-align: center;
}

th {
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}

td img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 15px;
    border: 5px solid #ced0d2;
}

tr:hover td {
    color: rgb(45, 10, 78);
    cursor: pointer;
    background-color: #f6f9fc;
}